<!DOCTYPE html>
<html lang="kor">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>관리자 페이지</title>
        <link href="../../css/admin/styles2.css" rel="stylesheet" />

    </head>
    <body class="body-container">
        <nav class="topnav navbar-dark bg-dark">
            <!-- logo 이름-->
            <a class="logo" href="/admin/adm_main">로고가 들어갑니다</a>
        </nav>
        <div id="sideNav">
            <div id="sideNav_nav">
                <nav class="sb-sidenav sb-sidenav-dark">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="menu-title">문제 리스트</div>
                            <a class="nav-link" href="/admin/adm_todayList">
                                오늘의 문제
                            </a>
                            <a class="nav-link" href="/admin/adm_contestList">
                                대회 문제
                            </a>
                            <div class="menu-title">회원 정보</div>
                            <a class="nav-link" href="/admin/adm_userList">
                                회원 목록
                            </a>
                            <a class="nav-link" href="/admin/adm_boardList">
                                작성 게시글
                            </a>
                            <a class="nav-link" href="/admin/adm_inquiryList">
                                문의글
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="main_content">
                <main>
                    <div class="main_padding">
                        <h1 class="main-header">관리자 페이지</h1>
                        <br>
                        <div class="row">
                            <div class="chart-content">
                                <div class="card main-margin">
                                    <div class="card-header">
                                        <i class="content-title"></i>
                                        오늘의 문제 정답률
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="chart-content">
                                <div class="card main-margin">
                                    <div class="card-header">
                                        <i class="content-title"></i>
                                        회원수
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>
                        <div class="card main-margin">
                            <div class="card-header">
                                <i class="content-title"></i>
                                회원 정보
                            </div>
                            <div>
                                <table id = user_table>
                                    <thead>
                                        <tr>
                                          <th>회원번호</th>
                                          <th>아이디</th>
                                          <th>이름</th>
                                          <th>정보1</th>
                                          <th>정보2</th>
                                          <th>정보3</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>user1</td>
                                            <td>김유저</td>
                                            <td>정보1</td>
                                            <td>010-2907-8231</td>
                                            <td>2022-11-19</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>user1</td>
                                            <td>김유저</td>
                                            <td>정보1</td>
                                            <td>010-2907-8231</td>
                                            <td>2022-11-19</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>user1</td>
                                            <td>김유저</td>
                                            <td>정보1</td>
                                            <td>010-2907-8231</td>
                                            <td>2022-11-19</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>user1</td>
                                            <td>김유저</td>
                                            <td>정보1</td>
                                            <td>010-2907-8231</td>
                                            <td>2022-11-19</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>user1</td>
                                            <td>김유저</td>
                                            <td>정보1</td>
                                            <td>010-2907-8231</td>
                                            <td>2022-11-19</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>user1</td>
                                            <td>김유저</td>
                                            <td>정보1</td>
                                            <td>010-2907-8231</td>
                                            <td>2022-11-19</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>user1</td>
                                            <td>김유저</td>
                                            <td>정보1</td>
                                            <td>010-2907-8231</td>
                                            <td>2022-11-19</td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>user1</td>
                                            <td>김유저</td>
                                            <td>정보1</td>
                                            <td>010-2907-8231</td>
                                            <td>2022-11-19</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="../../js/admin/chart-area-demo.js"></script>
        <script src="../../js/admin/chart-bar-demo.js"></script>
    </body>
</html>
