 <!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>관리자 페이지</title>
        <link rel="stylesheet" href="/css/styles2.css" type="text/css"/>
        <link rel="stylesheet" href="/css/styles2.css" type="text/css">
        <style>

        </style>
    </head>
    <body class="body-container">
        <nav class="topnav navbar-dark bg-dark">
            <!-- logo 이름-->
            <a class="logo" href="/admin/adm_main">로고가 들어갑니다</a>
            <a class="logo" th:href="@{/admin/goHome}">메인 페이지 이동</a>
        </nav>
        <div id="sideNav">
            <div class = "side" id="sideNav_nav">
                <nav class="sb-sidenav sb-sidenav-dark">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="menu-title">문제 리스트</div>
                            <a class="nav-link" href="/admin/productList">
                                상품목록
                            </a>
                            <a class="nav-link" href="/admin/serialList">
                                재고현황
                            </a>
                            <div class="menu-title">회원 정보</div>
                            <a class="nav-link" href="/admin/userList">
                                회원 목록
                            </a>
                            <a class="nav-link" href="/admin/adm_boardList">
                                작성 게시글
                            </a>
                            <a class="nav-link" href="/admin/adm_inquiryList">
                                문의글
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="main_content">
                <main>
                    <div class="main_padding">
                        <h1 class="main-header">상품 목록</h1>


                        <div class="card main-margin">
                                <div class="container">
                                    <div class="move" th:object="${cmdList}">
                                    <form method="post" th:action="@{/admin/productList}">
                                        <select class="inner2" id="comCd" name="comCd" th:value="*{roomCnt}">
                                            <option th:selected="*{roomCnt}=='0'" th:text="*{cmd0}"></option>
                                            <option th:selected="*{roomCnt}=='1'" th:text="*{cmd1}"></option>
                                            <option th:selected="*{roomCnt}=='2'" th:text="*{cmd2}"></option>
                                            <option th:selected="*{roomCnt}=='3'" th:text="*{cmd3}"></option>
                                            <option th:selected="*{roomCnt}=='4'" th:text="*{cmd4}"></option>
                                        </select>
                                    <div class="inner">
                                        <input type="search" th:field = "*{text}" id = "test">
                                        <img src="/images/search.png">
                                        <div class="searching">
                                            <i class="fas fa-search"></i>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                                    <div id="root">
                                        <button type="button" id="modal_opne_btn">등록</button>
                                    </div>
                                    <div id="modal">

                                        <div class="modal_content">
                                            <h2 class="serial_name">내용</h2>
                                            <p>모달 창 입니다.</p>

                                            <button type="button" id="modal_close_btn">모달 창 닫기</button>
                                            <table id = user_table class="type09">
                                                <thead>
                                                <tr>
                                                    <th>시리얼 번호</th>
                                                    <th>입고일</th>
                                                    <th>출고일</th>
                                                    <th>판매여부</th>
                                                    <th>상태1</th>
                                                    <th>상태2</th>
                                                    <th>위치</th>
                                                </tr>
                                                </thead>
                                                <tbody class="replies">

                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="modal_layer"></div>
                                    </div>
                                <table id = user_table class="type09">
                                    <thead>
                                        <tr>
                                            <th class="no">번호</th>
                                            <th>카테고리</th>
                                            <th>코드</th>
                                            <th>이름</th>
                                            <th>입고가</th>
                                            <th>출고가</th>
                                            <th>진열여부</th>
                                            <th>재고</th>
                                            <th>타입</th>
                                            <th>x</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                      <th:block th:each="product:${products}">
                                        <tr th:object="${product}">
                                            <td class="no" th:text="*{proId}"/>
                                            <td th:text="*{proCategoryId}"/>
                                            <td th:text="*{proCode}"/>
                                            <td class = "open" id = "open_a" th:text="*{proName}" th:href="*{proCode}"/>
                                            <td th:text="*{proInput}"/>
                                            <td th:text="*{proOutput}"/>
                                            <td th:text="*{proShowYN}"/>
                                            <td th:text="*{proStock}"/>
                                            <td th:text="*{proType}"/>
                                            <td><span style="color: red" class="delete" th:id="*{proId}">X</span></td>
                                        </tr>
                                      </th:block>
                                      </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="page_wrap" th:object="${pagination}">
                            <div class="page_nation"  style="text-align: center">
                                <a class="changePage" th:href="*{startPage - 1}" th:if="*{prev}"><code><</code></a>
                                <th:block th:each="page:${#numbers.sequence(pagination.startPage, pagination.endPage)}">
                                    <a class="changePage" th:href="${page}" th:if="${pagination.criteria.page != page}"><code th:text="${page}"></code></a>
                                    <code th:unless="${pagination.criteria.page != page}" th:text="${page}"></code>
                                </th:block>
                                <a class="changePage" th:href="*{endPage + 1}" th:if="*{next}"><code>></code></a>
                            </div>
                            <form th:action="@{/admin/userList}" th:object="${criteria}" name="pageForm">
                                <input type="hidden" th:field="*{page}">
                                <input type="hidden" th:field="*{amount}">
                            </form>
                        </div>
                    </div>
                </main>
                <br>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="/js/reply.js"></script>
        <script src="/js/jquery.min.js"></script>
        <script th:inline="javascript">
            let boardNumber = [[${proCode}]];
            let $open = $(".open");
            function getList(){
                replyService.getList(boardNumber, showList);
            }

            function showList(replyDTO){
                let text = "";
                if(replyDTO.length == 0){
                    text += "<div style='text-align: center; color :red; position : absolute; top :40%; left : 38%;'> 조회된 데이터가 존재하지 않습니다"
                    text += "</div>"
                }else{
                    replyDTO.forEach(reply =>{
                        text += "<tr>"
                        text += "<td>"+reply.proSerial+"</td>"
                        text += "<td>"+reply.proInDate+"</td>"
                        text += "<td>"+reply.proOutDate+"</td>"
                        text += "<td>"+reply.proSellYN+"</td>"
                        text += "<td>"+reply.proDstatus+"</td>"
                        text += "<td>"+reply.proQstatus+"</td>"
                        text += "<td>"+reply.proLocation+"</td>"
                        text += "</tr>"
                    });
                }
                $("tbody.replies").html(text);
            }
            /*
            document.getElementById("modal_opne_btn").onclick = function() {
                document.getElementById("modal").style.display="block";
            }
            */
            document.getElementById("modal_close_btn").onclick = function() {
                document.getElementById("modal").style.display="none";
            }


            $open.on("click", function (e) {
                e.preventDefault();
                boardNumber = $(this).attr("href")
                $(".serial_name").text($(this).text());
                document.getElementById("modal").style.display="block";
                getList();
            })

            $(".delete").on("click", function () {
                var proId = parseInt($(this).attr('id'));
                if(confirm('삭제하시겠습니까?')){
                    location.href = "/product/delete"+"?proId="+proId;
                }
            })

            function openPopup(){
                let url = "/product/update";
                let option = "width = 900px, height = 1000px, top = 100, left = 400, location = no"
                window.open(url, 'address',option);
            }
            $("#modal_opne_btn").on("click", function () {
                openPopup();
            })

        </script>
    </body>
 </html>
