<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.example.app.domain.vo.ProductVO" alias="productVO"/>
        <typeAlias type="com.example.app.domain.vo.ProductDTO" alias="productDTO"/>
        <typeAlias type="com.example.app.domain.vo.MenuVO" alias="menuVO"/>
        <typeAlias type="com.example.app.domain.vo.SerialVO" alias="serialVO"/>
        <typeAlias type="com.example.app.domain.vo.UserVO" alias="userVO"/>
        <typeAlias type="com.example.app.domain.vo.FileVO" alias="fileVO"/>
        <typeAlias type="com.example.app.domain.vo.CategoryVO" alias="categoryVO"/>
        <typeAlias type="com.example.app.domain.vo.ReplyVO" alias="replyVO"/>
        <typeAlias type="com.example.app.domain.vo.BoardVO" alias="boardVO"/>
        <typeAlias type="com.example.app.domain.vo.ReplyDTO" alias="replyDTO"/>
        <typeAlias type="com.example.app.domain.vo.CartVO" alias="cartVO"/>
        <typeAlias type="com.example.app.domain.vo.CartDTO" alias="cartDTO"/>
        <typeAlias type="com.example.app.domain.vo.InquiryVO" alias="inquiryVO"/>
        <typeAlias type="com.example.app.domain.vo.AddressVO" alias="addressVO"/>
        <typeAlias type="com.example.app.domain.vo.MemberVO" alias="memberVO"/>
        <typeAlias type="com.example.app.domain.vo.EaiRestDTO" alias="eaiRestDTO"/>
        <typeAlias type="com.example.app.domain.vo.EaiRestResponseDTO" alias="eaiRestRequestDTO"/>
        <typeAlias type="com.example.app.domain.vo.eaiRest.UserTestDTO" alias="userTestDTO"/>
        <typeAlias type="com.example.app.domain.vo.eaiRest.CommonHeader" alias="commonHeaderDTO"/>
        <typeAlias type="com.example.app.domain.vo.eaiRest.InterfaceHistVO" alias="interfaceHistVO"/>
        <!--
        <typeAlias type="com.example.app.domain.vo.BoardVO" alias="boardVO"/>
        <typeAlias type="com.example.app.domain.vo.BoardDTO" alias="boardDTO"/>
        <typeAlias type="com.example.app.domain.vo.FileVO" alias="FileVO"/>
        <typeAlias type="com.example.app.domain.vo.ReplyVO" alias="replyVO"/>
        -->
    </typeAliases>
</configuration>