<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/cart.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.3/dist/web/static/pretendard-dynamic-subset.css"/>
    <link rel="stylesheet" href="/css/main_home.css" type="text/css"/>
    <link rel = "stylesheet" href = "/css/header.css" type="text/css"/>
    <link rel="stylesheet" href="/css/slick.css" type="text/css"/>
    <link  rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/product.css" >
    <link rel="stylesheet" href="/css/cart.css" >
</head>
<body>
<!--header (나중에 제거)-->
    <header th:replace="/main/header.html :: div"></header>
    <!--header 끝 (나중에 제거)-->
        <div class="css-1pz4b76 er0tf675">
            <h2 class="css-1n2hipb er0tf674">장바구니</h2>
            <div></div>
            <div class="css-a6t9xs er0tf673">
                <div class="css-8wfj4z er0tf672">
                    <div class="css-20o6z0 e149z643">
                        <div class="css-zbxehx e149z642">
                            <label class="css-1j5mumb e1dcessg3">
                                <input type="checkbox" class="css-agvwxo e1dcessg2" checked="">
                                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgc3Ryb2tlPSIjREREIj4KICAgICAgICAgICAgPGc+CiAgICAgICAgICAgICAgICA8Zz4KICAgICAgICAgICAgICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNjY5LjAwMDAwMCwgLTEwOTAuMDAwMDAwKSB0cmFuc2xhdGUoMTAwLjAwMDAwMCwgOTM2LjAwMDAwMCkgdHJhbnNsYXRlKDU1My4wMDAwMDAsIDE0Mi4wMDAwMDApIHRyYW5zbGF0ZSgxNi4wMDAwMDAsIDEyLjAwMDAwMCkiPgogICAgICAgICAgICAgICAgICAgICAgICA8Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMS41Ii8+CiAgICAgICAgICAgICAgICAgICAgICAgIDxwYXRoIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjUiIGQ9Ik03IDEyLjY2N0wxMC4zODUgMTYgMTggOC41Ii8+CiAgICAgICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICA8L2c+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K" alt="" class="css-1wfsi82 e31wziv0">
                                <span class="css-0 e1dcessg1">전체선택 (3/3)</span>
                            </label>
                            <span class="css-454d5e e149z641"></span>
                            <button class="css-0 e149z640">선택삭제</button>
                        </div>
                    </div>
                    <div class="css-2lvxh7 ej77nku0">
                        <div th:if="${products}==null" class="css-2lvxh7 ej77nku0"><p class="css-l1lu2l eqymnpn0">장바구니에 담긴 상품이 없습니다</p></div>
                        <div th:if="${products != null}">

                            <h4 class="css-td54hr e1w1cmkx0">
                                <span class="css-1nzj0g2 e6yclqm1">
                                    <span class="css-12dwhid e6yclqm0">
                                        <span class="css-qct1ee ev909jf0"></span>
                                    </span>장바구니 목록
                                </span>
                                <button class="css-lvqq7y e17cst861">
                                    <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgICA8cGF0aCBpZD0iN2EwMnFxZzNqYSIgZD0iTTExIDEyaDl2OSIvPgogICAgPC9kZWZzPgogICAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8cGF0aCBkPSJNMCAwaDMwdjMwSDB6Ii8+CiAgICAgICAgPHVzZSBzdHJva2U9IiMzMzMiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgdHJhbnNmb3JtPSJyb3RhdGUoLTQ1IDE1LjUgMTYuNSkiIHhsaW5rOmhyZWY9IiM3YTAycXFnM2phIi8+CiAgICA8L2c+Cjwvc3ZnPgo=" alt="접기" class="css-hvzkdq e17cst860">
                                </button>
                            </h4>
                            <th:block th:each="product:${products}">
                            <ul th:object="${product}">
                                <li class="css-1d6kgf6 esoayg811">
                                    <label class="css-dar8hv e1dcessg3">
                                        <input type="checkbox" class="css-agvwxo e1dcessg2" checked="">
                                        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgc3Ryb2tlPSIjREREIj4KICAgICAgICAgICAgPGc+CiAgICAgICAgICAgICAgICA8Zz4KICAgICAgICAgICAgICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNjY5LjAwMDAwMCwgLTEwOTAuMDAwMDAwKSB0cmFuc2xhdGUoMTAwLjAwMDAwMCwgOTM2LjAwMDAwMCkgdHJhbnNsYXRlKDU1My4wMDAwMDAsIDE0Mi4wMDAwMDApIHRyYW5zbGF0ZSgxNi4wMDAwMDAsIDEyLjAwMDAwMCkiPgogICAgICAgICAgICAgICAgICAgICAgICA8Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMS41Ii8+CiAgICAgICAgICAgICAgICAgICAgICAgIDxwYXRoIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjUiIGQ9Ik03IDEyLjY2N0wxMC4zODUgMTYgMTggOC41Ii8+CiAgICAgICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICA8L2c+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K" alt="" class="css-1wfsi82 e31wziv0">
                                        <span class="css-0 e1dcessg1"></span>
                                    </label>
                                    <a class="css-3u0haf esoayg810">
                                        <span class="css-1qwino6 esoayg89"></span>
                                    </a>
                                    <div class="css-14sb0pe esoayg88">
                                        <a class="css-e0dnmk esoayg87">
                                            <p class="css-5cezqo esoayg86" th:text="*{proName}">[올림푸스] 무지방 0% 블루베리 그릭요거트</p>
                                        </a>
                                    </div>
                                    <div class="css-ar9i78 esoayg82" style="display: none" th:name="*{proPrice}" th:text="*{proPrice}"></div>
                                    <div class="css-1gueo66 e1cqr3m40" value = 1>
                                        <button th:if="*{proCount}==1" type="button" aria-label="수량내리기" disabled="" class="css-1e90glc e1hx75jb0 countA"></button>
                                        <button th:if="*{proCount}!=1" type="button" aria-label="수량내리기" th:name="*{proId}" class="css-8azp8 e1hx75jb0 countA"></button>
                                        <div class="count css-6m57y0 e1cqr3m41"  th:id="*{proId}" th:text="*{proCount}" th:value="*{proCount}">1</div>
                                        <button type="button" aria-label="수량올리기" class="css-18y6jr4 e1hx75jb0" th:name="*{proId}"></button>
                                    </div>
                                    <div class="css-5w3ssu esoayg84">
                                        <span aria-label="권장 소비자 가격" data-testid="product-price" class="css-zq4evb e2qzex51"th:name="*{proOutput}" th:text="*{proOutput}**{proCount}">5,900원</span>
                                    </div>
                                    <button class="css-h5zdhc eudrkjx0" type="button" data-testid="delete">
                                        <span class="css-6mgkir e5h3i930" th:name="*{proId}"></span>
                                    </button>
                                </li>
                            </ul>
                            </th:block>
                        </div>
                    </div>
                    <div class="css-20o6z0 e149z643">
                        <div class="css-zbxehx e149z642">
                            <label class="css-1j5mumb e1dcessg3">
                                <input type="checkbox" class="css-agvwxo e1dcessg2">
                                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgc3Ryb2tlPSIjREREIj4KICAgICAgICAgICAgPGc+CiAgICAgICAgICAgICAgICA8Zz4KICAgICAgICAgICAgICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNjY5LjAwMDAwMCwgLTEwOTAuMDAwMDAwKSB0cmFuc2xhdGUoMTAwLjAwMDAwMCwgOTM2LjAwMDAwMCkgdHJhbnNsYXRlKDU1My4wMDAwMDAsIDE0Mi4wMDAwMDApIHRyYW5zbGF0ZSgxNi4wMDAwMDAsIDEyLjAwMDAwMCkiPgogICAgICAgICAgICAgICAgICAgICAgICA8Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMS41Ii8+CiAgICAgICAgICAgICAgICAgICAgICAgIDxwYXRoIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjUiIGQ9Ik03IDEyLjY2N0wxMC4zODUgMTYgMTggOC41Ii8+CiAgICAgICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICA8L2c+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K" alt="" class="css-1wfsi82 e31wziv0">
                                <span class="css-0 e1dcessg1">전체선택 (0/3)</span>
                            </label>
                            <span class="css-454d5e e149z641"></span>
                            <button class="css-0 e149z640" disabled="">선택삭제</button>
                        </div>
                    </div>
                </div>
                <div class="css-1dta0ch er0tf671">
                    <div class="css-snlo96 er0tf670">
                        <div class="css-oft680 e15fcx0p3">
                            <h3  class="css-1guaarh e15fcx0p2">배송지</h3>
                            <div class="css-50yi3o e15fcx0p1">
                                <p th:if="${address}" th:text="${address.addressTwo}" class="css-xxfxl7 e1tweaw10 useraddress"></p>
                                <!--/*@thymesVar id="addressThress" type=""*/-->
                                <p th:if="${address}" th:text="${address.addressThree}"class="css-xxfxl7 e1tweaw10 useraddress"></p>
                                <p th:unless="${address}" class="css-iba1ml e1321nl41 useraddress" id = "modalAddress">
                                    <em>배송지를 등록</em>하고<br>
                                    <span class="css-1bmnxg7 e1321nl40">구매 가능한 상품을 확인하세요!</span>
                                </p>

                                <button class="css-1bh2ea0 e4nu7ef3" type="button" height="36" radius="3">
                                    <span class="css-ymwvow e4nu7ef1">
                                        <img src="https://res.kurly.com/pc/service/cart/2007/ico_search.svg" alt="" class="css-1m3kac1 e4nu7ef0">주소 검색
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="css-1t6so8j em21elb0">
                            <div class="css-8jmoub ea1mry77">
                                <span class="css-vmo0an ea1mry76">상품금액</span>
                                <span class="css-iinokh ea1mry74 total1">0
                                    <span class="css-hfgifi ea1mry72">원</span>
                                </span>
                            </div>
                            <div class="css-t4mc5m ea1mry77">
                                <span class="css-vmo0an ea1mry76">상품할인금액</span>
                                <span class="css-iinokh ea1mry74 total2">0
                                    <span class="css-hfgifi ea1mry72">원</span>
                                </span>
                            </div>
                            <p class="css-1ma9cls enghpni0">로그인 후 할인 금액 적용</p>
                            <div class="css-t4mc5m ea1mry77">
                                <span class="css-vmo0an ea1mry76">배송비</span>
                                <span class="css-iinokh ea1mry74 ">0
                                    <span class="css-hfgifi ea1mry72">원</span>
                                </span>
                            </div>
                            <div class="css-7ygxxm eepcpbj4">
                                <span class="css-vmo0an eepcpbj3">결제예정금액</span>
                                <span class="css-da7gr8 eepcpbj2">
                                    <strong class="css-xmbce4 eepcpbj0 total3">0</strong>
                                    <span class="css-aro4zf eepcpbj1">원</span>
                                </span>
                            </div>
                            <div class="css-bi9ql0 e142afjf3">
                                <span class="css-1q66xvk e142afjf2">적립</span>로그인 후 회원 등급에 따라 적립
                            </div>
                        </div>
                        <div class="css-8qz8ia e1mybczi1">
                            <button class="css-fwelhw e4nu7ef3" type="button" disabled="" height="56" radius="3">
                                <span class="css-ymwvow e4nu7ef1">상품을 선택해주세요</span>
                            </button>
                            <ul class="css-19kxq7d">
                                <li class="css-7s0nna ejr204i0">[주문완료] 상태일 경우에만 주문 취소 가능합니다.</li>
                                <li class="css-7s0nna ejr204i0">[마이컬리 &gt; 주문내역 상세페이지] 에서 직접 취소하실 수 있습니다.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/cart.js"></script>
    <script th:inline="javascript">
        const $read = $("a.read");
        let $userNumber = [[${userNumber}]];
        let count = parseInt($(".count").attr("value"));
        let countA = $(".countA");
        let cnt;
        let plus = $(".css-18y6jr4");
        var minus = $(".countA");
        let total = 0;
        let saleTotal = 0;
        console.log($userNumber);

        getTotal();
        function getTotal(){
            total = 0;
            $(".e1cqr3m40").each(function () {
                var firstPrice = parseInt($(this).next().children('span').text());
                var salePrice = parseInt($(this).prev().text());
                var count = $(this).children('div').text();

                total += firstPrice;
                saleTotal += (salePrice*count);
            })
            $(".total1").text(total);
            $(".total2").text(total-saleTotal);
            $(".total3").text(saleTotal);
        }
        console.log(total);
        function openPopup(){
            let url = "/address/list";
            let option = "width = 500px, height = 500px, top = 100, left = 100, location = no"
            window.open(url, 'address',option);
        }

        $(".css-1bh2ea0").on("click", function () {
            if($userNumber==null){
                alert("로그인 후 이용해주세요");
                return;
            }
            openPopup();
        })
        $(".signUpButton").on("click", function () {
            location.href = "/member/login";
        })

        $("#logout").on("click", function () {
            location.href = "/member/logout";
        })

        plus.on("click", function () {
            var count = parseInt($(this).prev().text());
            var plusPrice = parseInt($(this).parent().next().children('span').text());
            var orgPrice = plusPrice/count;
            var salePrice = parseInt($(this).parent().prev().text());
            count = count+1;
            plusPrice += orgPrice;
            total += orgPrice;
            saleTotal += salePrice;
            $(this).prev().text(count);
            $(this).parent().next().children('span').text(plusPrice);
            totalPrice(total, saleTotal);

            if(count>1){
                $(this).prev().prev().removeClass("css-1e90glc");
                $(this).prev().prev().addClass("css-8azp8");
                $(this).prev().prev().removeAttr("disabled");
            }
        })

        function totalPrice(total, saleTotal){
            $(".total1").text(total);
            $(".total3").text(saleTotal);
            $(".total2").text(total-saleTotal);
        }

        minus.on("click", function () {
            var minuscount = parseInt($(this).next().text());
            var minusPrice = parseInt($(this).parent().next().children('span').text());
            var orgPrice = minusPrice/minuscount;
            var salePrice = parseInt($(this).parent().prev().text());
            minuscount -= 1;
            minusPrice -= orgPrice;
            total -= orgPrice;
            saleTotal -= salePrice;
            $(this).next().text(minuscount);
            $(this).parent().next().children('span').text(minusPrice);
            totalPrice(total, saleTotal);

            if(minuscount==1){
                $(this).removeClass("css-8azp8");
                $(this).addClass("css-1e90glc");
                $(this).attr("disabled", "disabled");
            }
        })

        $(".e5h3i930").on("click", function (e) {
            var result = confirm("삭제하시겠습니까?");
            if(result){
                e.preventDefault();
                var proId = $(this).attr('name');

                cartService.deleteCart({
                    proId: proId,
                    userNumber: $userNumber,
                }, function(){
                    alert("삭제되었습니다");
                    location.reload();
                });
            }
        })
    </script>
</body>

</html>