<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="css/footer.css" rel="stylesheet" />
    <!--폰트 관련 css-->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.3/dist/web/static/pretendard-dynamic-subset.css"
    />
  </head>

  <!--
    ******************************************************************
        Footer 작업 시 id, class, css 모르는 부분은 바로 문의

        퍼블 : 황영택(2022-10-21)

        백 : 미정
    ******************************************************************
  -->

  <body>
    <footer class="Footer_footerClass__OWEZy">
      <div class="Footer_rowClass__bFAtS">
        <div class="NavLinks_NavLinks__xaNkJ">
          <div class="NavLinks_NavLinks__logo__MCbfZ">
            <!--이곳에 기업의 로고가 들어갑니다-->
            <img
              src="../img/hot6.jpg"
              alt="wanted"
              style="width: 80px; height: 50px"
            />
          </div>
          <div class="NavLinks_NavLinks__links__bQozT">
            <a href="https://www.wantedlab.com/" class="">기업소개</a
            ><a href="https://www.wanted.co.kr/terms" class="">이용약관</a
            ><a href="https://www.wanted.co.kr/privacy" class=""
              >개인정보 처리방침</a
            ><a href="helpDesk.html" class="">고객센터</a>
          </div>
        </div>
        <div class="SocialLinks_SocialLinks__hZutB">
          <a href="" class=""
            ><img
              src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fuserweb%2Fsocial_instagram.png&amp;w=20&amp;q=100"
              alt="instagram" /></a
          ><a href="" class=""
            ><img
              src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fuserweb%2Fsocial_youtube.png&amp;w=25&amp;q=100"
              alt="youtube" /></a
          ><a href="" class=""
            ><img
              src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fuserweb%2Fsocial_facebook.png&amp;w=20&amp;q=100"
              alt="facebook" /></a
          ><a href="" class=""
            ><img
              src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fuserweb%2Fsocial_blog.png&amp;w=20&amp;q=100"
              alt="blog" /></a
          ><a href="" class=""
            ><img
              src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fuserweb%2Fsocial_kakao.png&amp;w=19&amp;q=100"
              alt="kakao" /></a
          ><a href="" class=""
            ><img
              src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fuserweb%2Fsocial_post.png&amp;w=20&amp;q=100"
              alt="post" /></a
          ><a href="" class=""
            ><img
              src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fuserweb%2Fsocial_apple.png&amp;w=17&amp;q=100"
              alt="apple" /></a
          ><a href="" class=""
            ><img
              src="https://image.wanted.co.kr/optimize?src=https%3A%2F%2Fstatic.wanted.co.kr%2Fimages%2Fuserweb%2Fsocial_google.png&amp;w=17&amp;q=100"
              alt="google"
          /></a>
        </div>
      </div>
      <div class="Footer_rowClass__bFAtS Footer_border__k1rgk">
        <p class="Footer_footerText__CTqnd kr">
          이곳에 Footer의 내용을 적습니다<br />
          ex) 6조 파이팅
        </p>
        <div class="LocaleSelect_localeSelectClass__7TvCY">
          <img
            class="countryIcon"
            src="https://static.wanted.co.kr/images/userweb/ico_KR.svg"
            alt="country flag KR"
          />
          <select>
            <option value="KR">한국 (한국어)</option>
            <!--
              <option value="JP">日本 (日本語)</option>
              <option value="WW">Worldwide (English)</option>
              <option value="SG">Singapore (English)</option>
              !-->
          </select>
          <i class="icon-arrow_bottom_fill"></i>
        </div>
      </div>
    </footer>
  </body>
</html>
