<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <meta charset="UTF-8">
    <title>Title</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8" />
    <title>zero</title>
    <!--폰트 관련 css-->
    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.3/dist/web/static/pretendard-dynamic-subset.css"
    />

    <!--main css-->
    <link rel="stylesheet" href="/css/main_home.css" type="text/css"/>

    <!--Header css(나중에 파일 분리)-->
    <link rel = "stylesheet" href = "/css/header.css" type="text/css"/>

    <!--body css-->
    <link rel="stylesheet" href="/css/slick.css" type="text/css"/>

    <!-- footer css (나중에 파일 분리)-->
    <link href="/css/footer.css  " rel="stylesheet">

</head>
<body>
    <header th:replace="/main/header.html :: div"></header>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script th:inline="javascript">

    //사용할 배너
/*
    var $banner = $(".banner").find("ul");
    var $bannerWidth = $banner.children().outerWidth();
    var $bannerHeight = $banner.children().outerHeight();
    var $bannerLength = $banner.children().length;
    const detail = $("a.detail");

    var rollingId;
    let menuCode = [[${menuCode}]];

    detail.on("click", function(e){
        e.preventDefault();
        location.href = "/product/detail" + "?proId=" + $(this).attr("href");
    });
    $(".signUpButton").on("click", function () {
        location.href = "/member/login";
    })

    $("#logout").on("click", function () {
        location.href = "/member/logout";
    })

    rollingId = setInterval(function () {
        rollingStart();
    }, 10000);

    function rollingStart() {
        $banner.css("width", $bannerWidth * $bannerLength + "px");
        $banner.css("height", $bannerHeight + "px");
        $banner.animate({ left: -$bannerWidth + "px" }, 3000, function () {
            $(this).append("<li>" + $(this).find("li:first").html() + "</li>");
            $(this).find("li:first").remove();
            $(this).css("left", 0);
        });
    }
    const $read = $("a.read");
    $read.on("click", function(e){
        e.preventDefault();
        let code = $(this).attr("href");
        let page = "";
        switch (code) {
            case '000' :
                page = "/main/home"
                break;
            case '001' :
                code='001'
                page = "/product/list"
                break;
            case '002' :
                code = '002'
                page = "/mypage/myorder"
                break;
            case '003' :
                code = '003'
                page = "/product/list"
                break;
            case '005' :
                code = '005'
                page = "/main/cart"
                break;
        }
        location.href = page;
    });

    $("a.write").on("click", function(e){
        e.preventDefault();
        location.href = "/board/write";
    });

    $pages.on("click", function(e){
        e.preventDefault();
        $(document.pageForm.page).val($(this).attr("href"));
        document.pageForm.submit();
    });
*/
</script>
</html>