<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.AddressMapper">

    <!-- 주소 저장-->
    <insert id="insertAddress">
    INSERT INTO TBL_MEMBER_ADDRESS
    (USER_NUMBER, MEMBER_ADDRESS1, MEMBER_ADDRESS2, MEMBER_ADDRESS3, BASE_ADDRESS)
    VALUES(2, #{memberAddress1},#{memberAddress2} , #{memberAddress3}, #{baseAddress})
    </insert>

    <!-- 주소 조회-->
    <select id="selectAll" resultType="addressVO">
        SELECT MEMBER_ADDRESS2 , MEMBER_ADDRESS3, MEMBER_ADDRESS1, BASE_ADDRESS
        FROM TBL_MEMBER_ADDRESS
        WHERE USER_NUMBER = #{userNumber}
        ORDER BY BASE_ADDRESS DESC
    </select>

    <!-- 기본 배송지 N으로 변경-->
    <update id="update">
        UPDATE TBL_MEMBER_ADDRESS SET BASE_ADDRESS = 'N' WHERE BASE_ADDRESS = 'Y' AND USER_NUMBER = #{userNumber}
    </update>
</mapper>

















