<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.MemberMapper">

    <select id="selectId" resultType="_int">
        SELECT USER_NUMBER FROM TBL_MEMBER
        WHERE USER_ID = #{userId} AND USER_PASSWORD = #{userPassword}
    </select>

    <select id="checkId" resultType="_int">
        SELECT COUNT(USER_NUMBER) FROM TBL_MEMBER WHERE USER_ID = #{userId}
    </select>

    <!-- 회원가입-->
    <insert id="join">

    </insert>

    <!-- 로그인 -->
    <select id="login" resultType="memberVO">
        SELECT USER_NUMBER, USER_TYPE, USER_STATUS, USER_NAME, USER_ID, USER_PASSWORD, USER_GENDER, USER_EMAIL, USER_DATE FROM TBL_MEMBER WHERE USER_ID = #{userId} AND USER_PASSWORD = #{userPassword}
    </select>
    <!-- 로그인 temp -->
    <select id="loginTemp" resultType="_int">
        SELECT USER_NUMBER from TBL_MEMBER WHERE USER_ID = #{userId} AND USER_PASSWORD = #{userPassword}
    </select>

    <!-- 마지막 로그인 -->
    <update id="updateLastLogin" parameterType="int">
        UPDATE TBL_MEMBER SET LAST_LOGIN = SYSDATE WHERE USER_NUMBER = #{userNumber}
    </update>
</mapper>

















