<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.ProductMapper">

    <select id="showAll" resultType="productVO">
        SELECT ROWNUM, PRO_NAME, PRO_OUTPUT , PRO_SUBTITLE
        FROM
        (
            SELECT PRO_NAME, PRO_OUTPUT, PRO_SUBTITLE
            FROM TBL_PRODUCT
            WHERE PRO_SHOWYN ='Y'
            ORDER BY PRO_ID DESC
        )
        WHERE ROWNUM BETWEEN 1 AND 4
    </select>


    <select id="showMenu" resultType="menuVO">
        SELECT MENU_CODE, MENU_NAME FROM TBL_MENU ORDER BY MENU_CODE
    </select>

    <!-- Admin 제품 전체 조회-->
    <select id="showAllProduct" resultType="productVO">
    SELECT PRO_ID, PRO_CATEGORYID , PRO_CODE , PRO_NAME , PRO_INPUT , PRO_OUTPUT , PRO_SHOWYN,
    PRO_STOCK , PRO_TYPE FROM TBL_PRODUCT tp ORDER BY PRO_ID  DESC
    </select>



    <!-- Admin 제품 전체 정렬-->
    <select id="showAllProduct2" resultType="productVO">
        SELECT PRO_ID, PRO_CATEGORYID , PRO_CODE , PRO_NAME , PRO_INPUT , PRO_OUTPUT , PRO_SHOWYN, PRO_STOCK , PRO_TYPE
        FROM TBL_PRODUCT tp ORDER BY ${cmdCd} DESC
    </select>

    <select id="showAllProduct3" resultType="productVO">
        SELECT PRO_ID, PRO_CATEGORYID , PRO_CODE , PRO_NAME , PRO_INPUT , PRO_OUTPUT , PRO_SHOWYN, PRO_STOCK , PRO_TYPE
        FROM TBL_PRODUCT tp
        WHERE ${cmdCd} LIKE #{text}
        ORDER by PRO_ID DESC

    </select>
    <!-- Admin 상품 전체 개수 -->
    <select id="getProTotal" resultType="_int">
        SELECT COUNT(PRO_ID) FROM TBL_PRODUCT
    </select>

    <!-- 전체 seial List 조회 -->
    <select id = "selectAllSerial" resultType="serialVO">
        SELECT PRO_NAME, PRO_SERIAL, A.PRO_CODE, B.PRO_INDATE, PRO_OUTDATE, B.PRO_SELLYN,PRO_DSTATUS, PRO_QSTATUS, PRO_LOCATION
        FROM TBL_PRODUCT A, TBL_SERIAL B
        WHERE A.PRO_CODE  = B.PRO_CODE
    </select>

    <!-- 전체 Serial Count 조회 -->
    <select id="getTotalSerial" resultType="_int">
        SELECT COUNT(PRO_SERIAL) FROM TBL_SERIAL
    </select>

    <!-- 세부 상품 조회 -->
    <select id="selectProduct" resultType="productVO">
        SELECT PRO_NAME, PRO_OUTPUT, PRO_INPUT, PRO_SUBTITLE, PRO_INDATE, PRO_DISCOUNTPER, PRO_DISCOUNTYN,PRO_ID
        FROM TBL_PRODUCT
        WHERE PRO_ID = #{proId}
    </select>
</mapper>

















